// GLOBAL VARIABLES
$primary-color: #ea004c;
$secondary-color: #444;
$dark-color: #002a40;
$white-color: #fff;
$shadow-red: rgba(234, 0, 76, 0.2);
$shadow-dark: rgba(0, 0, 0, 0.18);
$overlay-color: rgba(0, 0, 0, 0.7);
