@import '../../styles/sass/variables';

.form {
    height: 500px;
    width: 500px;
    background: $white-color;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    z-index: 999999;
    padding: 30px 50px;

    & .title {
        font-size: 21px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
    }

    & .signin {
        background: $primary-color;
        border: 0 solid $primary-color;
        box-shadow: 0px 4px 6px rgba(234, 0, 76, 0.2);
        height: 45px;
        font-weight: 600;
    }

    & .signup_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .signup_title {
            font-size: 18px;
            line-height: 22px;
        }

        & .signup_link {
            color: $primary-color;
        }
    }

    & .label_box {
        display: flex;
        justify-content: space-between;
    }
}
